#navbar{
    top:0;
    left:0;
    background-color: #db1b6b;
    height:100%;
    width: 150px;
    padding: 25px 20px;
    position:fixed;
    z-index: 999;
  display: block;
    

}
@media screen and (max-width:800px){
    #navbar {
        position:absolute;
        width:100%;
        
       max-height: 250px;

    
    
    }
    #main-doc{
        position: relative;
    }

}
.navlink{
    align-items: center;
    color:#F6E8EA;
    
}
#main-doc{
    margin-top:20%;
}
.main-section{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    width: 800px;
    align-content:center;
    margin-left:200px;


}
header{
    font-weight:bold;
    font-size:30px;
}
#main-doc{
    margin-top:30px;
    display:block;
    margin-left:200px;
    background-color: #f1eaed;
}
.nav-link{
    
        padding: 20px 0px;
        display: block;
      
}
code{
    display:block;
}
img{
    display: block;
    margin-left:10px;
    margin-top:30px;
}
a{
    cursor: pointer;
    color: #100336;
}